In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Joining DataFrame

In [23]:
bikes = pd.read_csv('citybike_station.csv')

In [24]:
total_bus = pd.read_csv('total_bus.csv')

In [25]:
bikes

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,address,ebikes,slots,post_code
0,2,14,56b378804489251389834c2b80a46bb5,46.786588,-71.258231,Parc Anet-Gomin,2023-06-04T03:45:13.014000Z,Parc Anet-Gomin,14,16,NaN
1,6,4,ef6ae1f7443f70f55803f679f8802b63,46.784041,-71.249391,Sheppard / William,2023-06-04T03:45:13.016000Z,Sheppard / William,4,16,NaN
2,10,5,c3750bd43baae2ae3febc0f6d41f724a,46.829433,-71.244066,ExpoCité - Grand Marché,2023-06-04T03:45:13.017000Z,Grand Marché,5,16,123456
3,7,8,2ef1039f944f63cf78a0b7b6d55ad32c,46.812403,-71.220411,Lavigueur / Sainte-Geneviève,2023-06-04T03:45:13.017000Z,Lavigueur,8,16,NaN
4,12,8,19f294ef4bd34e8454e9036badca8cb4,46.826553,-71.245978,ExpoCité - Place Jean-Béliveau,2023-06-04T03:45:13.018000Z,ExpoCité,8,20,J4G 2H9
...,...,...,...,...,...,...,...,...,...,...,...
69,14,4,dfaec4cfae6b372f10b2fb48735d5457,46.817650,-71.208739,Bassin Louise,2023-06-04T03:45:13.059000Z,Bassin Louise,4,19,123456
70,2,14,89cbe638d67345f3866a69425e81f6e1,46.807598,-71.244166,Raoul-Jobin / Marie-de-l'Incarnation,2023-06-04T03:45:13.024000Z,Raoul-Jobin / Marie-de-l'Incarnation,14,16,NaN
71,3,17,b67f8adf8ded050563ea78f18967b1f3,46.812317,-71.242166,Patro Laval,2023-06-04T03:45:13.058000Z,Patro Laval,17,20,123456
72,18,2,425d3bd4d96f1c02d2ee1bf1355162c3,46.781833,-71.273993,ULaval - Charles-De Koninck,2023-06-04T03:45:13.019000Z,ULaval - Charles-De Koninck,2,20,NaN
73,9,7,8737cf2c7b0b09672fcbbb36b1e846e3,46.842749,-71.225008,Parc Bardy,2023-06-04T03:45:13.015000Z,Parc Bardy,7,16,NaN

In [26]:
total_bus

    total
0      49
1      33
2      25
3     349
4      23
..    ...
69    303
70     38
71     56
72     33
73     16

[74 rows x 1 columns]

In [27]:
#frames = [bikes, total_bus]
final_df = pd.concat([bikes, total_bus])

In [28]:
final_df2 = final_df[['name', 'latitude', 'longitude', 'slots', 'total']]
final_df2.rename(columns={'name': 'stations', 'total': 'POI', 'slots': 'bikes', 'latitude': 'latitude', 'longitude': 'longitude'}, inplace=True)
final_df2

C:\Users\oladu\AppData\Local\Temp\ipykernel_19460\410193358.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df2.rename(columns={'name': 'stations', 'total': 'POI', 'slots': 'bikes', 'latitude': 'latitude', 'longitude': 'longitude'}, inplace=True)

                          stations   latitude  longitude  bikes    POI
0                  Parc Anet-Gomin  46.786588 -71.258231   16.0    NaN
1               Sheppard / William  46.784041 -71.249391   16.0    NaN
2          ExpoCité - Grand Marché  46.829433 -71.244066   16.0    NaN
3     Lavigueur / Sainte-Geneviève  46.812403 -71.220411   16.0    NaN
4   ExpoCité - Place Jean-Béliveau  46.826553 -71.245978   20.0    NaN
..                             ...        ...        ...    ...    ...
69                             NaN        NaN        NaN    NaN  303.0
70                             NaN        NaN        NaN    NaN   38.0
71                             NaN        NaN        NaN    NaN   56.0
72                             NaN        NaN        NaN    NaN   33.0
73                             NaN        NaN        NaN    NaN   16.0

[148 rows x 5 columns]

## Data visualization

In [ ]:
sns.scatterplot(data=final_df2, 
                x="bikes", 
                y="POI",
                alpha = 0.7)
plt.suptitle("Scatter Plot Comparing Bike_stations and POI")
plt.show()